<ion-view title="Edit Email" class="settings-page">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="vm.onSave()" ng-disabled="!vm.userPropertiesChanged">
            Save
            <i class="icon ion-ios-checkmark-empty"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="text" placeholder="Email Address" ng-model="vm.user.email" ng-change="vm.onChange()"/>
            </label>
        </div>
    </ion-content>
</ion-view>
