<ion-view  title="Email Address" class="settings-page">
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email Address</span>
                <input type="text" placeholder="Email Address" ng-model="vm.user.email" ng-change="vm.onChange()"/>
            </label>
        </div>
        <div class="note">
            Your email address is used for notifications and emailing you important information about HomeCooked.
        </div>
    </ion-content>
</ion-view>
