<ion-view title="Code of Conduct & Ethics" hide-back-button="false">
    <ion-content class="has-header">
        <div class="padding">
            <p>Serving your community with healthy, nutritious, and delicious food is a responsibility that we at
                HomeCooked, and you, as a food provider, take seriously. We, and you, recognize the importance of and
                hereby abide by the following beliefs:</p>
            <ul style="list-style: inside">
                <li>The food you provide contributes to the health and well being of your community.</li>
                <li>Your ability and certification qualify you to serve the public by applying safe food practices,
                    nutritional acumen, healthy and quality food service techniques to everything you prepare and serve.
                </li>
                <li>You are individually responsible for your actions and the quality of services that you provide.</li>
                <li>You pledge to conduct yourself with honesty, integrity and fairness and strive to provide all
                    services competently.
                </li>
                <li>You will always use only the freshest meat, fish, vegetables and fruits available and quality
                    ingredients.
                </li>
                <li>You strive to comply with all applicable laws and regulations concerning food preparation including
                    those that promote public health and safety.
                </li>
                <li>You will provide full and accurate information regarding ingredients and the preparation of meals.
                </li>
                <li>You will never compromise on quality and safety, at any cost.</li>
                <li>ALWAYS COOK AS IF IT WILL BE THE LAST DISH YOU ARE EVER MAKE!</li>
            </ul>
        </div>
    </ion-content>
</ion-view>
