<div class="modal tutorial">
    <ion-content scroll="false">
        <div class="bar bar-clear">
            <a class="button icon-left button-clear button-dark ion-ios-arrow-left"
               ng-show="step>0 && steps.length>1" ng-click="previousSlide()">
                Previous
            </a>
            <a class="button button-clear button-positive icon-right"
               ng-class="step===steps.length-1 ? 'ion-ios-checkmark-empty' : 'ion-ios-arrow-right'"
               ng-click="step===steps.length-1 ? tutorialDone() : nextSlide()">
                {{step===steps.length-1 ? 'Got it! ' : 'Next '}}
            </a>
        </div>
        <ion-slide-box delegate-handle="tutorial-slide-box" active-slide="step">
            <ion-slide ng-repeat="step in steps">
                <ion-scroll zooming="false">
                    <h1 class="title">{{::step.title}}</h1>

                    <div class="instructions">
                        <img ng-src="{{::step.image}}"/>

                        <div class="message" ng-bind-html="::step.message"></div>
                    </div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</div>
