.buyer-search {
    reviews-rating {
        text-align: left;
        font-size: 12px;
        margin: 2px 0;
        ul.rating {
          line-height: 12px;
        }
        ul.rating li i {
            font-size: 12px;
        }
    }
}
.buyer-search-preview {
    background: #efefef;
    .info-container {
        width: 100%;
        height: 300px;
        text-align: center;
        position: relative;
        .info {
            display: inline-block;
            overflow: hidden;
            margin: 0 auto;
            margin-top: 40px;
            text-shadow: 0 2px 2px #eee;
            font-size: 90%;
            border-radius: 5%;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 4px 1px #333;
            img {
                width: 120px;
                height: 120px;
                display: block;
                margin-bottom: 10px;
            }
            .distance {
                margin: 10px 0;
            }
        }
    }
    .map-container {
        width: 100%;
        height: 300px;
        pointer-events: none;
        position: absolute;
        top: 0;
        .angular-leaflet-map {
            height: 100%;
        }
    }
    .bio {
        padding: 10px 10px 0;
        position: relative;
        blockquote {
            margin: 0;
            padding: 10px 0 0 40px;
            border: none;
            &:before {
                content: "“";
                font-family: Georgia;
                font-size: 600%;
                position: absolute;
                color: #444;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
                top: 40px;
                left: 10px;
            }
        }
    }
    .dishes-container {
        text-align: center;
    }
    .card {
        text-align: left;
        padding: 20px 10px 10px;
        box-sizing: border-box;
        width: 100%;
        max-width: 300px;
        display: inline-block;
        .dish-img {
            clear: right;
            display: block;
            margin: 10px 0;
            position: relative;
            min-height: 300px;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: center;
        }
        .dish-price {
            float: right;
            font-size: 28px;
            line-height: 28px;
            margin: 0 0 10px 10px;
        }
        reviews-rating {
            float: right;
            text-align: right;
            cursor: pointer;
        }
        .title {
            font-weight: bold;
            font-size: 16px;
        }
    }
}
.buyer-dish-preview {
    .image-container {
        padding: 16px;
        max-width: 450px;
        margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    .dish-details {
        padding: 0 16px;
    }
    reviews-rating {
        cursor: pointer;
        text-align: right;
        float: right;
        margin: 0 0 10px 10px;
    }
    div.title-price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        h2 {
            margin: 0;
            font-size: 140%;
        }
        span {
            font-size: 150%;
            margin: 0 0 10px 10px;
            flex-shrink: 0;
        }
    }
    .item-divider {
        font-size: 85%;
        font-weight: bold;
        text-transform: uppercase;
    }
    .item-note {
        color: initial;
    }
    .place-order-btn .title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 110%;
    }
}
