.dishes-tutorial {
  .instructions {
    padding: 10px;
    p, .title {
      text-align: center;
    }
    .title {
      margin-top: 0;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  img {
    width: 100%;
  }

}

