reviews-rating {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    .count {
        padding: 0 2px;
    }
    ul.rating li {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        border: 0px;
        background: none;
        padding: 0 3px;
        i {
            font-size: 18px;
        }
    }
    ul.rating li:first-child {
        padding-left: 0;
    }
    ul.rating li:last-child {
        padding-right: 0;
    }
}
