reviews-rating {
    display: inline-block;
    .read-only rating {
        pointer-events: none;
    }
    ul.rating li {
        display: inline;
        border: 0px;
        background: none;
        padding: 2px;
        i {
            font-size: 16px;
        }
    }
}
