.signup-page {
    $color-text-shadow: #2e4b7d;
    $color-border-fb-btn: #4f5a6f;
    $color-border-email-btn: #4A6D80;
    $light-radius: 4px;

    p {
        text-align: center;
    }
    p > a {
        margin-top: 10px;
    }
}

