.signup-page {
    $color-text-shadow: #2e4b7d;
    $color-border-fb-btn: #4f5a6f;
    $color-border-email-btn: #4A6D80;
    $light-radius: 4px;

    .error_msg {
        font-style: italic;
        font-size: 14px;
        color: darkred;
    }
    .divider {
        background-color: white;
        &:before, &:after {
            content: "";
            display: inline-block;
            width: 30%;
            height: 1px;
            background: lightgray;
            vertical-align: middle;
            margin: 40px 5%;
        }
    }
}

