<ion-view title="{{::vm.dish.title}}" class="buyer-dish-preview">
    <ion-content class="has-footer">
        <div class="image-container">
            <img ng-src="{{vm.dish.picture}}">
        </div>
        <div class="dish-details">
            <div class="title-price">
                <h2>{{::vm.dish.title}}</h2>
                <span>{{::vm.dish.price}} $</span>
            </div>

            <p class="ingredients">Ingredients: {{::vm.dish.ingredients}}</p>

            <p>{{::vm.dish.specialIngredients}}</p>
        </div>
        <div class="list">

            <div class="item item-divider">
                Details
            </div>

            <a class="item" ui-sref="app.dish-review({id: vm.chef.id, dishId: vm.dish.dish_id})">
                Reviews
                <reviews-rating class="item-note" score="::vm.dish.review_score"
                                count="::vm.dish.review_count"></reviews-rating>
            </a>

            <a class="item">
                Pickup Time
                <span class="item-note">{{vm.dish.start_time | amDateFormat:'ddd, MMM D (ha'}} to {{vm.dish.end_time | amDateFormat:'ha'}})</span>
            </a>

            <a class="item">
                Pickup Distance
                <span class="item-note">{{vm.chef.distance}}</span>
            </a>

            <label class="item item-input item-select">
                <div class="input-label">
                    Quantity
                </div>
                <select ng-model="vm.quantity"
                        ng-options="i as i for i in vm.dish.quantities"></select>
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive button-bar">
        <button class="button button-clear" ng-if="!vm.user.isLoggedIn" ng-click="vm.signin()">Sign in</button>
        <button class="button button-clear" ng-if="vm.user.isLoggedIn" ng-disabled="!vm.quantity"
                ng-click="vm.order()">Add to cart
        </button>
    </div>
</ion-view>
