<ion-view title="My Orders" hide-back-button="true" class="orders">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="reload()">
        </ion-refresher>
        <p class="padding" align="center" ng-if="!vm.activeOrders.length">
            You haven't placed any order yet.<br>
            <a ui-sref="app.buyer">Place one</a>
        </p>

        <div class="list card" ng-repeat="order in vm.activeOrders">

            <div class="item item-thumbnail-left">
                <img ng-src="{{order.chef.picture || 'images/user.png'}}">

                <h2 class="wrap">
                    <a ng-href='sms:+{{::order.chef.phone_number}}'
                       class="button button-positive button-clear icon ion-chatbubbles" style="float: right"></a>
                    <a ng-href='tel:+{{::order.chef.phone_number}}'
                       class="button button-positive button-clear icon ion-ios-telephone" style="float: right"></a>
                    <span style="line-height: 45px">Chef {{::order.chef.first_name}} {{::order.chef.last_name}}</span>
                </h2>
                <a class="wrap positive" href ng-click="vm.openMap(order.chef)">{{order.chef.address}}</a>

                <p class="wrap">Pickup {{order.start_time | amDateFormat:'ddd, MMM D (ha'}} to
                    {{order.end_time | amDateFormat:'ha'}})</p>
            </div>

            <div class="item item-avatar" ng-repeat="dish in order.dishes">
                <img ng-src="{{dish.picture || 'images/logo.png'}}">
                <span class="item-right">${{dish.cost}}</span>

                <h3 class="wrap">{{dish.title}}</h3>

                <p>{{dish.portions.length}} portion(s)</p>
            </div>

            <div class="item">
                Total paid:
                <span class="item-right">${{order.total_price}}</span>
            </div>

            <div class="button-bar tabs item">
                <a class="button button-positive icon-left" ng-click="vm.notifyChef(order)">
                    <i class="icon ion-ios-bell"></i>
                    Notify chef I arrived!
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
