<ion-view title="Pending Reviews" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <p class="padding" align="center" ng-if="!vm.dishes.length">
            No dishes to review, good job!
            <br>
            <a ui-sref="app.buyer" class="button button-positive button-clear">Place new order</a>
        </p>
        <div class="list card" ng-if="vm.dishes.length">
            <div class="item item-avatar" ng-repeat="dish in vm.dishes" href ng-click="vm.showModal(dish)">
                <img ng-src="{{dish.picture && dish.picture.length ? dish.picture : 'images/logo.png'}}">

                <span class="item-right">${{dish.price}}</span>
                <h2 class="wrap">{{dish.title}}</h2>

                <p class="wrap">{{dish.description}}</p>

                <p>{{dish.portions}} portion(s)</p>
                <span class="item-note">{{dish.delivery_time | amTimeAgo}}</span>

            </div>
        </div>
    </ion-content>
</ion-view>
