<ion-view title="Find local chefs" hide-back-button="true" class="buyer-search">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>

        <p class="padding" align="center" ng-if="vm.search_message">{{vm.search_message}}</p>
        <p class="padding" align="center" ng-if="!vm.search_inactive && vm.chefs.length===0">No items on sale.</p>

        <div ng-if="!vm.search_inactive" class="item item-thumbnail-left" ng-repeat="chef in vm.chefs" ui-sref="app.chef-preview({id:chef.id})">
            <img ng-src="{{chef.picture}}" style="width:5rem; margin-right:1rem; float:left">

            <h2>{{chef.first_name}} {{chef.last_name}}</h2>

            <reviews-rating style="font-size: 90%; text-align: left;" score="::chef.review_score" count="::chef.review_count"></reviews-rating>
            
            <p style="font-size: 90%">{{chef.distance ? chef.distance + ' away, ' : ''}}{{chef.num_active_dishes}} item{{chef.num_active_dishes === 1 ? '' : 's'}} on sale</p>
            <div ng-if="chef.dishes.length" class="dishes-container">
              <div ng-repeat="dish in ::chef.dishes" class="dish" ng-style="{'background-image' : 'url(' + dish.picture + ')'}">
                  <div class="dish-price">${{::dish.price}}</div>
              </div>
            </div>
        </div>
    </ion-content>
</ion-view>
