<ion-view title="My Dishes" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="vm.showModal()">Add
      <i class="icon ion-plus-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <p class="padding" align="center" ng-if="vm.dishes.length===0">Your menu is empty!<br>
        <a href ng-click="vm.showModal()">Add a new dish</a>
      </p>

      <div class="item item-avatar item-button-right" ng-repeat="dish in vm.dishes">
        <img ng-src="{{dish.picture || 'images/logo.png'}}">

        <h2>{{dish.title}}</h2>

        <p>{{dish.description || '- no description for this dish -'}}</p>
        <p>{{dish.price}} $</p>
        <a ui-sref="app.dish-preview({id: vm.chefId, dishId: dish.id})">{{::dish.rating || 0}}/5 ({{::dish.review_count || 0}} reviews)</a>
        <button class="button button-clear button-stable" ng-click="vm.deleteDish(dish)">
          <i class="icon ion-trash-a"></i>
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
