<ion-view title="My Menu" hide-back-button="true">
    <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button button-positive">Manage</a>
            <a class="button" ng-click="vm.go('app.seller')">Sell</a>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <ion-list>
            <p class="padding" align="center" ng-if="vm.dishes.length===0">Your menu is empty!</p>

            <a class="item item-avatar item-button-right" ng-repeat="dish in vm.dishes"
               ui-sref="app.dish-review({id: vm.chefId, dishId: dish.id})">
                <img ng-src="{{dish.picture || 'images/logo.png'}}">

                <h2>{{dish.title}}</h2>

                <p>{{dish.description || '- no description for this dish -'}}</p>

                <p>{{dish.price}} $</p>

                <p>{{::dish.rating || 0}}/5 ({{::dish.review_count || 0}} reviews)</p>
                <button class="button button-clear button-stable" ng-click="vm.deleteDish(dish, $event)">
                    <i class="icon ion-trash-a"></i>
                </button>
            </a>
        </ion-list>
        <button class="button button-block button-positive button-clear" ng-click="vm.showModal()">Add Dish
        </button>
    </ion-content>
</ion-view>
