<ion-view class="zipcode-restriction-page">
    <ion-content scroll="false">
        <div class="container">
            <div class="zipcode-map" data-tab-disable="true">
                <leaflet id="zipcodemap" defaults="vm.map.defaults" tiles="vm.map.tiles" center="vm.map.center" markers="vm.map.markers"></leaflet>
            </div>
            <div class="zipcode-form">
                <form ng-submit="vm.validZipCode()" name="zipForm">
                    <p>PLEASE INPUT YOUR ZIP CODE</p>
                    <input type="tel" placeholder="ZIP Code" ng-model="vm.zipcode" required ng-minlength="5"/>
                    <button class="button button-block button-dark" ng-disabled="zipForm.$invalid">VIEW CHEFS IN YOUR AREA</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
