<ion-view class="zipcode-restriction-page">
    <ion-content> 
        <div class="area-not-available">
            <i class="icon ion-android-sad"></i>

            <p class="title">Sorry, your area is not yet supported.</p>

            <p class="text">HomeCooked is growing fast. Please enter you email address and we will notify you when your area is available.</p>
            <div class="email-form">
                <form ng-submit="vm.registerEmail()">
                    <input type="email" placeholder="Email Address" ng-model="vm.email_address"/>
                    <button class="button button-block button-dark">GET NOTIFIED</button>
                    <a ui-sref="zipcode-validation">Change ZIP code</a>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>