<ion-modal-view class="signup-page">
    <ion-header-bar align-title="center" class="bar-stable">
        <h1 class="title">Sign up</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal('signup')">
                Close
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <p class="padding">
            <span>Use Facebook to securely access your account.</span><br/>
            <a class="button button-positive button-clear icon-left ion-social-facebook" ng-click="signIn('facebook')">Connect
                with Facebook</a>
        </p>
    </ion-content>
</ion-modal-view>
