<ion-view class="signup-page">
    <ion-content scroll="false">
        <div class="container">
            <div class="hc-logo">
                <img src="images/logo.png"/>
            </div>
            <div class="signup-btns">
                <a class="btn" title="" ng-click="vm.signIn('facebook')">
                    <div class="btn-icon">
                        <i class="icon ion-social-facebook"></i>
                    </div>
                    <div class="btn-text fb-btn-text">
                        Connect with <span class="bold">Facebook</span>
                    </div>
                </a>

                <a class="btn" title="">
                    <div class="btn-icon">
                        <i class="icon ion-email"></i>
                    </div>
                    <div class="btn-text email-btn-text">
                        Sign up with <span class="bold">Email</span>
                    </div>
                </a>
                <p class="signin-email">Already have a HomeCooked account? <span>Sign in</span></p>
            </div>
        </div>
    </ion-content>
</ion-view>
