<ion-modal-view class="signup-page" ng-controller="SignupCtrl as vm">
    <ion-header-bar align-title="center" class="bar-stable">
        <h1 class="title">Sign in</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">
                Close
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <p class="text">
            Use Facebook to securely access your account.
        </p>
        <div class="signup-btns">
            <a class="btn" title="" ng-click="vm.signIn('facebook')">
                <div class="btn-icon">
                    <i class="icon ion-social-facebook"></i>
                </div>
                <div class="btn-text fb-btn-text">
                    Connect with <span class="bold">Facebook</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-modal-view>
