<ion-view title="{{vm.dish.title}}" hide-back-button="true" class="buyer-dish-preview">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="vm.back()"></button>
    </ion-nav-buttons>
    <ion-content ng-class="{'has-footer' : vm.dish.remaining > 0}">
        <div class="image-container">
            <img ng-src="{{vm.dish.picture}}">
        </div>
        <div class="dish-details">
            <h2 class="title">
                {{vm.dish.title}}
            </h2>
            <h3 class="dish-price">
                ${{vm.dish.price}}
            </h3>
            <p>
                <a ng-if="vm.chef.id" ui-sref="app.chef-preview({id: vm.chef.id})" class="button button-positive button-clear chef-button">
                  by {{vm.chef.first_name}} {{vm.chef.last_name}}
                  <img ng-src="{{vm.chef.picture || 'images/user.png'}}" />
                </a>
                <reviews-rating class="positive clickable" ui-sref="app.dish-review({id: vm.chef.id, dishId: vm.dish.dish_id})" score="vm.dish.review_score" count="vm.dish.review_count"></reviews-rating>
            </p>

            <p>{{vm.dish.description}}</p>

            <p style="clear:right">Ingredients: {{vm.dish.ingredients}}</p>

            <p ng-if="vm.dish.specialIngredients.contains">Contains {{vm.dish.specialIngredients.contains}}.</p>

            <p ng-if="vm.dish.specialIngredients.is" class="capitalize">{{vm.dish.specialIngredients.is}} <i class="icon ion-checkmark"></i></p>

        </div>
        <div class="list" ng-if="vm.dish.remaining > 0">

            <div class="item item-divider">
                Order
            </div>

            <div class="item item-input item-select">
                <div class="input-label">Quantity (max {{vm.dish.remaining}})</div>
                <select ng-model="vm.quantity" ng-options="i as i for i in vm.dish.quantities"></select>
            </div>

            <div class="item">
                Available for
                <span ng-if="vm.chef.hasPickup">Pickup</span>
                <span ng-if="vm.chef.hasPickup && vm.chef.hasDelivery">or</span>
                <span ng-if="vm.chef.hasDelivery">Delivery</span>
                <i class="icon ion-checkmark"></i>
            </div>
            <div class="item">
                Available on
                <span class="item-note">{{vm.dish.start_time | amDateFormat:'ddd, MMM D (h:mma'}} to {{vm.dish.end_time | amDateFormat:'h:mma'}})</span>
            </div>
            <div class="item" ng-if="vm.chef.distance">
                Distance
                <span class="item-note">{{vm.chef.distance}}</span>
            </div>
        </div>
        <p style="text-align: center; margin: 30px 0;" ng-if="vm.dish.remaining === 0">No portions available</p>
    </ion-content>
    <div class="bar bar-footer bar-positive button-bar" ng-if="vm.dish.remaining > 0">
        <button class="button button-clear" ng-if="!vm.user.isLoggedIn" ng-click="vm.signin()">Sign up to order</button>
        <button class="button button-clear" ng-if="vm.user.isLoggedIn" ng-disabled="!vm.quantity" ng-click="vm.order()">Add to cart
        </button>
    </div>
</ion-view>
