<ion-view title="{{vm.chef.first_name}} {{vm.chef.last_name}}" class="buyer-search-preview" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="vm.back()"></button>
    </ion-nav-buttons>
    <ion-content ng-class="{'has-footer' : vm.checkoutInfo.portions && vm.checkoutInfo.portions.length}">
        <div class="info-container">
            <img ng-src="{{vm.chef.picture ||'images/user.png'}}">
            <p class="bio" ng-if="vm.chef.bio.length">{{vm.chef.bio}}</p>
            <reviews-rating score="vm.chef.review_score" count="vm.chef.review_count"></reviews-rating>
            <div class="distance" ng-if="vm.chef.distance">{{vm.chef.distance}} away</div>
        </div>
        <div class="map-container">
            <leaflet id="chefmap" defaults="vm.map.defaults" tiles="vm.map.tiles" center="vm.map.center" markers="vm.map.markers" data-tap-disabled="true"></leaflet>
        </div>
        <div class="dishes-container">
            <h1 class="title">Menu</h1>
            <p class="message" ng-if="vm.chef.dishes.length===0">
                No items on sale.
            </p>

            <div class="card" ng-repeat="dish in vm.chef.dishes">
                <div class="clickable" ui-sref="app.dish-preview({id: vm.chef.id, batchId: dish.id})">
                    <div class="dish-price item-right">${{dish.price}}</div>
                    <div class="title">{{dish.title}}</div>
                    <div>{{dish.remaining}} remaining</div>
                    <div>
                        Available for
                        <span ng-if="vm.chef.hasPickup">Pickup</span>
                        <span ng-if="vm.chef.hasPickup && vm.chef.hasDelivery">or</span>
                        <span ng-if="vm.chef.hasDelivery">Delivery</span>
                        <i class="icon ion-checkmark"></i>
                    </div>
                    <div class="dish-img" ng-style="{'background-image': 'url(' + dish.picture + ')'}"></div>
                </div>
                <div class="horizontal">
                    <div>
                        {{dish.start_time | amDateFormat:'dddd, MMM D'}}
                        <br> {{dish.start_time | amDateFormat:'(h:mma'}} to {{dish.end_time | amDateFormat:'h:mma'}})
                    </div>
                    <reviews-rating class="positive" score="dish.review_score" count="dish.review_count" ui-sref="app.dish-review({id: vm.chef.id, dishId: dish.id})"></reviews-rating>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive button-bar" ng-if="vm.checkoutInfo.portions && vm.checkoutInfo.portions.length">
        <button class="button button-clear" ng-click="vm.checkout()">Checkout</button>
    </div>
</ion-view>
