<div class="modal add-dish">
    <ion-header-bar>
        <h1 class="title">{{dish.title || 'Add dish'}}</h1>

        <div class="button button-clear" ng-click="vm.hideModal()">Cancel</div>
    </ion-header-bar>
    <ion-content>
        <form novalidate class="list" name="dishForm">
            <image-crop class="hc-image-container" input-name="picture" result="dish.picture"
                        aspect-ratio="0.60"></image-crop>
            <label class="item item-input">
                <input type="text" name="title" placeholder="Title" ng-model="dish.title" ng-minlength="2" required/>
            </label>
            <label class="item">
        <textarea name="description" placeholder="Description" ng-model="dish.description" ng-minlength="2"
                  maxlength="160" required
                  class="hc-dish-description"></textarea>

                <p class="hc-char-count subdued">{{dish.description.length || 0}}/160</p>
            </label>
            <label class="item item-input">
                <input type="text" name="ingredients" placeholder="Ingredients" ng-model="dish.ingredients"
                       ng-minlength="2"
                       required/>
            </label>
            <label class="item item-input">
                <input name="price" ng-model="dish.price" placeholder="Price (USD)" type="text" pattern="\d+(\.\d{2})?"
                       min="0.1" max="200"
                       value="price"
                       required ng-minlength="1" ng-change="dish.price = dish.price < 0 ? 0 : dish.price"/>
            </label>
            <ion-checkbox ng-model="dish.vegetarian">Vegetarian</ion-checkbox>
            <ion-checkbox ng-model="dish.eggs">Eggs</ion-checkbox>
            <ion-checkbox ng-model="dish.peanuts">Peanuts</ion-checkbox>
            <ion-checkbox ng-model="dish.milk">Milk</ion-checkbox>
            <div class="item button-bar">
                <div class="button button-positive" ng-click="vm.addDish(dish, dishForm)"
                     ng-disabled="dishForm.$invalid || !dish.picture">
                    Create!
                </div>
            </div>
        </form>
    </ion-content>
</div>

