<ion-view title="Find local chefs" ng-controller="SearchCtrl as ctrl" hide-back-button="true">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="vm.login()" ng-if="!vm.isUserLoggedIn">
        <i class="icon ion-ios-person"></i>
        Sign in
      </button>
    </ion-nav-buttons>
  <ion-content class="has-header">
  	<div class="list list-inset">
      <label class="item item-input padding-vertical">
        <input type="text" placeholder="Where are you?" ng-value="ctrl.query">
      </label>
      <button class="button button-block button-positive" ng-click="ctrl.findChefs()">Search</button>
    </div>
	</div>
  </ion-content>
</ion-view>
