<ion-view title="Find local chefs" hide-back-button="true" class="buyer-search">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="menuVm.login()" ng-if="!menuVm.isUserLoggedIn">
        <i class="icon ion-ios-person"></i>
        Sign in
      </button>
    </ion-nav-buttons> 
  <ion-content scroll="false">
    <div class="map-container" data-tab-disable="true">
        <leaflet id="chefmap" defaults="vm.map.defaults" tiles="vm.map.tiles" center="vm.map.center" markers="vm.map.markers"></leaflet>
        
        <div class="search-filter">
          <form ng-submit="vm.findChefs()">
            <div class="item-input-inset">
                <label class="item item-input-wrapper">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Search for a dish" ng-model="vm.query">

                  <a class="button-filter button button-small button-clear">
                    <i class="icon ion-ios-settings"></i>
                  </a>
                </label>
              <a class="button-switch-view button button-small button-clear" ng-click="vm.visible = !vm.visible">
                <i class="icon" ng-class="{'ion-map': vm.visible, 'ion-ios-list-outline': !vm.visible}"></i>
              </a>
            </div> 
          </form>
        </div>

          <div class="results show-from-bottom" ng-hide="!vm.visible">
            <div class="list">
              <a class="item item-avatar item-icon-right" href="#">
                <img src="http://www.gohomecooked.com/images/marc.jpg">
                <h2>Marc-Antoine Andreoli <span style="color:#F4C304; font-size: 90%">★ 4.5</span></h2>
                <p>Doing the best hamburgers in town.</p>
                <i class="icon ion-ios-arrow-forward"></i>
              </a>
              <a class="item item-avatar item-icon-right" href="#">
                <img src="http://www.gohomecooked.com/images/valdrin.jpg">
                <h2>Valdrin Koshi <span style="color:#F4C304; font-size: 90%">★ 6.2</span></h2>
                <p>I am Loving it.</p>
                <i class="icon ion-ios-arrow-forward"></i>
              </a>
              <a class="item item-avatar item-icon-right" href="#">
                <img src="http://didierbaquier.fr/img/me.jpg">
                <h2>Didier Baquier <span style="color:#F4C304; font-size: 90%">★ 4.2</span></h2>
                <p>Doing the best hamburgers in town.</p>
                <i class="icon ion-ios-arrow-forward"></i>
              </a>
              <a class="item item-avatar item-icon-right" href="#">
                <img src="http://www.gohomecooked.com/images/jon.jpg">
                <h2>Jon Whiteaker <span style="color:#F4C304; font-size: 90%">★ 4.2</span></h2>
                <p>Doing the best hamburgers in town.</p>
                <i class="icon ion-ios-arrow-forward"></i>
              </a>
            </div>
          </div>
    </div>
	</div>
  </ion-content>
</ion-view>
