<div class="list">
    <label class="item item-avatar" ng-repeat="portion in checkoutInfo.portions">
        <img ng-src="{{::portion.dish.picture || 'images/logo.png'}}"/>

        <button class="button button-clear button-stable button-right" ng-click="deleteDishPortions(portion)">
            <i class="icon ion-trash-a"></i>
        </button>
        <span class="item-note" style="margin-top: 25px">${{::portion.cost}}</span>
        <div style="white-space: normal">{{::portion.dish.title}}</div>
        <div>{{::portion.portion_id_list.length}} portion(s)</div>
    </label>
    <label class="item">
        <span>Total price:</span>
        <span class="item-note"><b>${{::checkoutInfo.total_price}}</b></span>
    </label>
</div>
