<div class="list">
    <label class="item item-avatar item-button-right" ng-repeat="batch in checkoutDetails">
        <img src="{{::batch.dish.picture || 'images/logo.png'}}"/>

        <div>{{::batch.dish.title}}</div>
        <div>{{::batch.quantity}} portion(s)</div>
        <span class="item-note">{{::batch.total_price}} $</span>
        <button class="button button-clear button-stable" ng-click="deleteBatch(batch.id)">
            <i class="icon ion-trash-a"></i>
        </button>
    </label>
    <label class="item">
        <span>Total price:</span>
        <span class="item-note"><b>{{::totalPrice}} $</b></span>
    </label>
</div>
