<div class="modal dishes-tutorial">
  <ion-header-bar>
    <h1 class="title">{{step===0 ? 'Build your own menu' : 'Before you start'}}</h1>

    <div class="button button-clear" ng-class="{'button-positive' : step===1}" ng-click="next()">{{step===0 ? 'Next' :
      'Got it!'}}
    </div>
  </ion-header-bar>
  <ion-content delegate-handle="dishesTutorialContent">

    <div ng-if="step===0" class="instructions">

      <img src="images/chef1.jpg">

      <p>You decide what to cook, when to cook, and how much to charge.</p>

      <p>Use this section to describe your meals and make your customers want more!</p>

      <p>Buyers will have until <b>5pm</b> to place an order for dinner.</p>
    </div>
    <div ng-if="step===1" class="instructions">

      <img src="images/chef2.jpg">

      <p>Each menu item starts with zero reviews, as you will accumulate them through
        time.</p>

      <p>You cannot edit existing items, but feel free to create as many as you like!</p>
    </div>

  </ion-content>
</div>

