<ion-view title="Become a chef!" hide-back-button="true">
    <ion-content class="has-header">
        <form novalidate class="list" name="enrollForm">
            <image-crop class="hc-image-container" input-name="picture" result="vm.form.picture"></image-crop>
            <label class="item item-input item-floating-label">
                <span class="input-label">First name</span>
                <input type="text" name="first_name" placeholder="First name" required ng-minlength="2"
                       ng-maxlength="50" ng-model="vm.form.first_name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last name</span>
                <input type="text" name="cardholder_name" placeholder="Last name" required ng-minlength="2"
                       ng-maxlength="50" ng-model="vm.form.last_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of birth</span>
                <input type="date" name="dob" required ng-minlength="10" ng-maxlength="10" ng-model="vm.form.dob">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" name="email" placeholder="Email" required ng-model="vm.form.email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Phone</span>
                <input type="number" name="phone_number" placeholder="Phone" required ng-minlength="10"
                       ng-maxlength="11"
                       ng-model="vm.form.phone_number">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Social Security Number</span>
                <input type="text" name="ssn" placeholder="Social Security Number" required ng-minlength="9"
                       ng-maxlength="9"
                       ng-model="vm.form.ssn">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Address, city, zipcode</span>
                <input type="text" name="address" placeholder="Address, city, zipcode" required ng-minlength="2"
                       ng-maxlength="50" ng-model="vm.form.address" g-places-autocomplete force-selection="true"/>
            </label>

            <h4 class="padding-top padding-left">Payment information</h4>
            <h6 class="padding-left">(so we can pay you!)</h6>

            <label class="item item-input item-floating-label">
                <span class="input-label">Debit Card Number</span>
                    <input type="text" ng-model="vm.form.card.number" placeholder="Debit Card Number" payments-format="card"
                       payments-validate="card" name="card"
                       ng-minlength="1"/>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Expiration</span>
                <input type="text" ng-model="vm.form.card.expiry" placeholder="Expiration" payments-format="expiry"
                       payments-validate="expiry" name="expiry"
                       ng-minlength="1" ng-class="{'invalid-input' : enrollForm.expiry
                        && enrollForm.expiry.$invalid}"/>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">CVC</span>
                <input type="text" ng-model="vm.form.card.cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"
                       name="cvc"
                       ng-minlength="1"/>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Cardholder's name (as it appears on card)</span>
                <input type="text" name="cardholder_name" placeholder="Cardholder's name (as it appears on card)"
                       required ng-minlength="2"
                       ng-maxlength="50" ng-model="vm.form.card.cardholder_name">
            </label>

            <div class="button button-positive button-block" ng-disabled="enrollForm.$invalid"
                    ng-click="vm.enroll(enrollForm)">Enroll
            </div>
        </form>
    </ion-content>
</ion-view>
