<div class="image-crop">
    <div class="button-bar">
        <div class="button" ng-class="{'button-positive' : !didSelect}" ng-click="takePicture()">
            {{didSelect ? 'Change Image' : 'Select Image'}}
            <input ng-if="!isMobile" type="file" name="picture" name="{{inputName}}" required accept="image/*"
                   ng-model="pictureData"
                   base-sixty-four-input
                   ng-change="cropPicture(pictureData)"/>
        </div>
        <div class="button button-positive" ng-if="!!showSave && didSelect" ng-click="onSave({picture:result})">Save
        </div>
    </div>
    <div class="hc-crop-area" ng-show="didSelect">
        <img-crop ng-if="!isMobile" image="myImage" result-image="result" area-min-size="300" area-type="square"
                  result-image-size="600"></img-crop>
        <img ng-src="{{result}}">
    </div>
</div>
