<div class="image-crop">
    <div class="button button-positive button-clear button-block hc-button-upload">
        {{pictureData ? 'Upload Another Image' : 'Upload Image'}}
        <input type="file" name="picture" name="{{inputName}}" required accept="image/*" ng-model="pictureData"
               base-sixty-four-input
               ng-change="cropPicture(pictureData)" ng-click="blur()"/>
    </div>
    <div class="hc-crop-area" ng-if="cropped">
        <img ng-src="{{cropped}}"/>
    </div>
</div>
