<div class="image-crop">
    <div class="button button-positive button-block" ng-click="takePicture()">
        {{pictureData ? 'Upload Another Image' : 'Upload Image'}}
        <input ng-if="!isMobile" type="file" name="picture" name="{{inputName}}" required accept="image/*" ng-model="pictureData"
               base-sixty-four-input
               ng-change="cropPicture(pictureData)"/>
    </div>
    <div class="hc-crop-area">
        <img-crop ng-show="myImage" image="myImage" result-image="result" area-min-size="300" area-type="square" result-image-size="600"></img-crop>
        <img ng-show="result" ng-src="{{result}}">
    </div>
</div>
