<ion-view hide-nav-bar="true" ng-controller="MainCtrl as ctrl">
  <ion-content>
    <h1 align="center">HomeCooked</h1>

    <div align="center" ng-show="ctrl.isLoggedIn">
      <a href="#/app/buyer">Find local chefs</a>
    </div>

    <div ng-hide="ctrl.isLoggedIn">
      <div class="item" ng-hide="(ctrl.doingLogin || ctrl.doingSignup)">
        <!--<button class="button button-block button-positive" ng-click="ctrl.doingLogin=true">Log in</button>-->
        <button class="button button-block button-positive" ng-click="ctrl.login('facebook')">Log in with Facebook
        </button>
        <!--<button class="button button-block button-positive" ng-click="ctrl.doingSignup=true">Sign up</button>-->
      </div>
      <form novalidate class="list list-inset" name="loginForm" ng-show="ctrl.doingLogin">
        <label class="item item-input">
          <input type="email" name="email" placeholder="Email" ng-model="login.email" required>
          <span ng-show="loginForm.email.$dirty && loginForm.email.$invalid">This is not a valid email.</span>
        </label>
        <label class="item item-input">
          <input type="password" name="password" placeholder="Password" ng-model="login.password" required
                 ng-minlength="5">
          <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">Minimum 5 chars.</span>
        </label>

        <div class="button-bar">
          <div class="button" ng-click="ctrl.doingLogin=false">Cancel</div>
          <div class="button button-positive" ng-click="ctrl.login(null,loginForm.email,loginForm.password)"
               ng-disabled="loginForm.$invalid">Submit
          </div>
        </div>
      </form>
      <form novalidate class="list list-inset" name="signupForm" ng-show="ctrl.doingSignup===true">
        <label class="item item-input">
          <input type="text" name="name" placeholder="Name" ng-model="signup.name" required ng-minlength="2"
                 ng-maxlength="50">
        </label>
        <label class="item item-input">
          <input type="email" name="email" placeholder="Email" ng-model="signup.email" required>
          <span ng-show="signupForm.email.$dirty && signupForm.email.$invalid">This is not a valid email.</span>
        </label>
        <label class="item item-input">
          <input type="password" name="password1" placeholder="Password" ng-model="signup.password1" required
                 ng-minlength="5">
          <span ng-show="signupForm.password1.$dirty && signupForm.password1.$invalid">Minimum 5 chars.</span>
        </label>
        <label class="item item-input">
          <input type="password" name="password2" placeholder="Repeat password" ng-model="signup.password2" required
                 ng-minlength="5">
        <span
          ng-show="signupForm.password1.$valid && signupForm.password2.$valid && signup.password1 !== signup.password2">Passwords don't match.</span>
        </label>

        <div class="button-bar">
          <div class="button" ng-click="ctrl.doingSignup=false">Cancel</div>
          <div class="button button-positive" ng-click="ctrl.signup(signupForm)" ng-disabled="signupForm.$invalid">
            Submit
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>

