<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7"></ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <ion-content>
      <a class="item item-icon-right" nav-clear menu-close href="#/app/settings">
        {{user.first_name}}
        <i class="icon ion-gear-b"></i>
      </a>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/buyer">
          Credit Card/Bank Info
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/buyer">
          Contact Info
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
          Logout
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/buyer">
          Refer a friend!
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/buyer">
          Order History
        </ion-item>
        <ion-toggle nav-clear menu-close ng-model="isSellerView" ng-change="switchView()">
          Chef mode
        </ion-toggle>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
