<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="(min-width:768px)">
        <ion-header-bar class="bar-stable">
            <h1 class="title">{{menuVm.isUserLoggedIn ? 'Hi, ' + menuVm.userFirstName + '!' : 'HomeCooked'}}</h1>
            <a class="button button-icon icon ion-gear-b" nav-clear menu-close href ng-click="menuVm.go('app.settings')"
               ng-if="menuVm.isUserLoggedIn && !menuVm.hasPendingReviews"></a>
        </ion-header-bar>
        <ion-content>
            <div class="list" ng-if="menuVm.isUserLoggedIn && !menuVm.hasPendingReviews">
                <a class="item item-icon-left" ng-class="link.selected ? 'positive' : 'dark'" ng-repeat="link in menuVm.links"
                   nav-clear menu-close ng-click="menuVm.go(link.path)">
                    <i class="icon {{::link.icon}}"></i>
                    {{::link.name}}</a>

                <a nav-clear class="item item-icon-left dark"
                   ng-click="menuVm.showUpdatePayment()">
                    <i class="icon ion-card"></i>
                    Payment</a>
            </div>
            <div ng-if="menuVm.isUserLoggedIn && !menuVm.hasPendingReviews">
                <a ng-if="!menuVm.isChef" nav-clear menu-close class="button button-block button-positive button-clear"
                   style="margin-top: 40px"
                   ng-click="menuVm.go('app.enroll')">Become a chef!</a>
                <a ng-if="menuVm.isChef" nav-clear menu-close class="button button-block button-positive button-clear"
                   style="margin-top: 40px" ng-click="menuVm.switchView()">Go to {{menuVm.chefMode ? 'Buyer' : 'Chef'}}
                    mode</a>
            </div>
            <p class="padding" align="center" style="margin-top: 40px" ng-if="menuVm.hasPendingReviews">Please rate the dishes before
                making a new order.</p>
            <a ng-if="!menuVm.isUserLoggedIn" nav-clear class="button button-block button-positive button-clear"
               style="margin-top: 40px"
               ng-click="menuVm.login()">Sign up, it's free!</a>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
