<div class="modal tutorial">
    <ion-content delegate-handle="tutorialContent">
        <h1 class="title">{{steps[step].title}}</h1>
        <div class="instructions">

            <img ng-src="{{steps[step].image}}" />

            <div class="message" ng-bind-html="steps[step].message"></div>

            <div class="button button-block button-positive icon-right" ng-class="step===(steps.length-1) ? 'ion-ios-checkmark-empty' : 'ion-chevron-right'" ng-click="next()">
                <span ng-if="step<steps.length-1">Next</span>
                <span ng-if="step===steps.length-1">Got it!</span>
            </div>
        </div>
    </ion-content>
</div>

