<div class="modal">
    <ion-header-bar>
        <h1 class="title">Phone Number</h1>

        <div class="button button-clear" ng-click="closeModal('update-phone')">Cancel</div>
    </ion-header-bar>
    <ion-content>
        <form class="list" name="phoneForm">
            <label class="item item-input">
                <i class="icon ion-android-call placeholder-icon"></i>
                <input type="number" placeholder="Phone Number" ng-model="phone_number" required
                       ng-minlength="10" ng-maxlength="11"/>
            </label>

            <div class="item button-bar">
                <button type="submit" class="button button-positive" ng-disabled="phoneForm.$invalid"
                        ng-click="savePhone(phone_number)">
                    Save
                    <i class="icon ion-ios-checkmark-empty"></i></button>
            </div>
        </form>
    </ion-content>
</div>
