<div class="modal">
    <ion-header-bar>
        <h1 class="title">Update Payment Info</h1>

        <div class="button button-clear" ng-click="closeModal('update-payment')">Cancel</div>
    </ion-header-bar>
    <ion-content>
        <p class="padding" align="center" ng-if="user.has_payment">Your current card is:
            {{user.payment_info.card_type}} ending in {{user.payment_info.last_four}}, expiring on
            {{user.payment_info.exp_date}}</p>

        <form class="list" name="paymentForm">
            <label class="item item-input">
                <input type="tel" ng-model="number" placeholder="Card Number"
                       payments-format="card" payments-validate="card" name="card" ng-minlength="1"/>
            </label>

            <label class="item item-input">
                <input type="tel" ng-model="expiry" placeholder="Expiration" payments-format="expiry"
                       payments-validate="expiry"
                       name="expiry" ng-minlength="1"/>
            </label>

            <label class="item item-input">
                <input type="tel" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"
                       name="cvc" ng-minlength="1"/>
            </label>

            <div class="item button-bar">
                <button type="submit" class="button button-positive" ng-disabled="paymentForm.$invalid"
                        ng-click="updatePayment(paymentForm)">
                    Save
                    <i class="icon ion-ios-checkmark-empty"></i></button>
            </div>
        </form>
    </ion-content>
</div>
